<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Animator" version="1.0.3" targetFramework="net48" />
  <package id="CommandLineParser" version="2.9.1" targetFramework="net48" />
  <package id="Cyotek.Windows.Forms.ColorPicker" version="2.0.0-beta.7" targetFramework="net48" />
  <package id="FastCloner" version="3.4.4" targetFramework="net48" />
  <package id="FluentTransitions" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="11.0.0-preview.1.26104.118" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.5-beta1" targetFramework="net48" />
  <package id="Octokit" version="14.0.0" targetFramework="net48" />
  <package id="Ookii.Dialogs.WinForms" version="4.0.0" targetFramework="net48" />
  <package id="Ressy" version="1.0.3" targetFramework="net48" />
  <package id="Serilog" version="4.3.2-dev-02418" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="8.0.0-dev-02318" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="11.0.0-preview.1.26104.118" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="11.0.0-preview.1.26104.118" targetFramework="net48" />
  <package id="System.Drawing.Common" version="11.0.0-preview.1.26104.118" targetFramework="net48" />
  <package id="System.Formats.Nrbf" version="11.0.0-preview.1.26104.118" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="11.0.0-preview.1.26104.118" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="11.0.0-preview.1.26104.118" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Channels" version="11.0.0-preview.1.26104.118" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
</packages>